{% set consul_advertise_addr = consul_advertise_addrs | intersect(ansible_all_ipv4_addresses) | first %}
{% set consul_join_addrs = consul_advertise_addrs | difference(ansible_all_ipv4_addresses) %}
{
  "server": {{ "true" if consul_is_server else "false"}},
  "domain": "consul.",
  "data_dir": "{{ consul_home }}/data",
  "bind_addr": "{{ consul_advertise_addr }}",
  "advertise_addr": "{{ consul_advertise_addr }}",
  "retry_join": [ "{{ consul_join_addrs | join('", "') }}" ],
  "encrypt": "{{ consul_encrypt }}",
  "bootstrap_expect": {{ consul_advertise_addrs | length }},
  "acl_datacenter": "dc1",
  "acl_default_policy": "deny",
  "acl_down_policy": "deny"
}