{% set consul_advertise_addr = consul_advertise_addrs | intersect(ansible_all_ipv4_addresses) | first %}
{% set consul_join_addrs = consul_advertise_addrs | difference(ansible_all_ipv4_addresses) %}
{
  "addresses": {
    "https": "{{ consul_advertise_addr }}"
  },
  "ports": {
    "https": 8500
  },
  "encrypt": "{{ consul_encrypt }}",
  "ca_file": "{{ consul_home }}/secrets/ca.crt",
  "key_file": "{{ consul_home }}/secrets/server.key.pem",
  "cert_file": "{{ consul_home }}/secrets/server.cert.pem",
  "verify_outgoing": true,
  "verify_server_hostname": true
}