{
  "ID": "21d69103-2f32-acba-a3cd-f15c2b928f81",
  "Name": "vault_token",
  "Type": "client",
  "Rules": "key \"vault/\" { policy = \"write\" } service \"vault\" { policy = \"write\" } agent \"\" { policy = \"write\" } node \"\" { policy = \"write\" } session \"\" { policy = \"write\" }"
}
