[defaults]
# Disable host key checking. If a host is not initially in ‘known_hosts’ this
# will result in prompting for confirmation of the key, which results in an
# interactive experience
host_key_checking = False

# This is the default SSH timeout to use on connection attempts.
timeout = 30

# This options forces color mode even when running without a TTY.
force_color = 1

# Number of parallel processes to spawn when
# communicating with remote hosts.
forks = 10

# Facts gathering: The value ‘smart’ means each new
# host that has no facts discovered will be scanned,
# but if the same host is addressed in multiple plays
# it will not be # contacted again in the playbook run.
# This ave fact gathering time.
gathering = smart

[ssh_connection]
pipelining = True