{
  "ID": "e721f4dc-9cdd-9331-2a3e-57cf3ac74f5f",
  "Name": "agent_token",
  "Type": "client",
  "Rules": "node \"\" { policy = \"write\" } service \"\" { policy = \"write\" } agent \"\" { policy = \"write\" }"
}
